**/venv*
**theErrors*
**theBadExamples*
**get_nurse_sr16000**
**hey_lookdeep_sr16000**
example/build/html/.buildinfo
example/build/**
example/consecutiveDetections-hey_look_deep_model_28_08122024.png
example/consecutiveDetections-hey_look_deep_model_28_14122024.png
example/create_table.py
example/example_look_deep.py
example/exampleReadSoundFromFiles.py
example/exampleReadSoundFromFiles.sh
example/exampleReadSoundFromFiles2.py
example/exampleReadSoundFromFiles2.sh
example/list.txt
example/make.bat
example/nn-pred-hey_look_deep_model_28_08122024.png
example/nn-pred-hey_look_deep_model_28_14122024.png
example/noise_reduced_data.wav
example/summary_output.json
example/use_silero.py
example/vad_band_composite.py
example/vad_noise_reduction.py
example/vad.py
example/x
example/models/get_scribe_model_28_25012025.onnx
example/source/conf.py
example/source/index.rst
clean_example_build_files.sh
list_get_nurse.txt
list_hey_look_deep.txt
